cim_schema_2.20.0-PDFs/*
deprecated/*

*.aux
*.log
*.bbl

dell.*Mac
mac.*Dell

movoir.old.tex
pruebaListTable.tex
radams-modificado.tex
radams_classic.tex
scratchpad.tex
snippets.tex



*.blg

*.brf

*.idv

*.lof

*.lol

*.lot

*.out

*.gz

*.tmp

*.toc

thesis_backup.bib

VOLinks.key

*.webhistory

aastex.cls

abstract.tex
